<div class="about-container">
  <div class="about">
    <h2>To start: either <%= link_to 'login', login_path %> or <%= link_to 'create', signup_path %> a new user</h2>
    <h2>Once your account is created you can access an open chat</h2>
    <h2>On your profile page you can 
      <ul style="font-size: 20px;">
        <li>Join a channel and chat</li>
        <li>Create a channel</li>
      </ul> 
    </h2>
    <h2>You can edit your profile from "Settings"</h2>
    <h2>Have Fun!</h2>
  </div>
</div>